<?xml version="1.0"?>

<model>
  <name>Aruco_Marker</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>
    <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Thomas Koletschka</name>
    <email>huangtianhao1@qq.com</email>
  </author>

  <description>
    An aruco marker textured plane.
  </description>

</model>
